@import "/reset.css";

@font-face {
  font-family: Metropolis-Bold;
  src: url(./font/Metropolis-Bold.woff);
}
@font-face {
  font-family: Metropolis-Light;
  src: url(./font/Metropolis-Light.woff);
}
@font-face {
  font-family: Metropolis-Medium;
  src: url(./font/Metropolis-Medium.woff);
}
@font-face {
  font-family: Metropolis-Regular;
  src: url(./font/Metropolis-Regular.woff);
}

// :root {
//   --activeTextColor: #0890c0;
// }
$activeTextColor: #0890c0;
$h2FontFamily: Metropolis-Regular;
$h2FontSize: 50px;

@mixin h2Font {
  font : {
    size: $h2FontSize;
    family: $h2FontFamily;
    weight: normal;
  }
}

body {
  font-family: $h2FontFamily;
}
section {
  height: 100vh;
  position: relative;
}

h2 {
  @include h2Font;
  text-align: center;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

li {
  list-style: none;
  color: #000;
}
a {
  text-decoration: none;
  color: #000;
}

header {
  height: 155px;
  &.on {
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);
    background: #fff;
  }
  .fullbg {
    height: 155px;
    position: absolute;
    left: 0;
    width: 100%;
    top: 0;
    background: #fff;
    box-shadow: 10px 10px 10px 10px rgb(0 0 0 / 2%);
    z-index: -1;
  }
  .inner {
    width: 1760px;
    margin: auto;
    .header_inner {
      z-index: 10;
      .rogin {
        height: 76px;
        ul {
          position: relative;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          padding: 20px 0;
          li a {
            margin-left: 30px;
            &.wedding {
              height: 36px;
              line-height: 1;
              text-align: center;
              font-weight: bold;
              color: #fff;
              padding: 11px 15px 0 34px;
              border-radius: 50px;
              background: url(./img/wedding-icon.png) left 15px center no-repeat
                #139cae;
            }
            &.ace_mall {
              height: 36px;
              line-height: 1;
              text-align: center;
              font-weight: bold;
              color: #fff;
              padding: 10px 14px 0;
              border-radius: 50px;
              border: 1px solid #9badb6;
              background: #9badb6;
            }
          }
        }
      }
      h1 {
        position: absolute;
        top: 70px;
        left: 50%;
        transform: translateX(-50%);
      }
      nav {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .gnb_section {
          display: flex;

          li.main {
            position: relative;
            a {
              display: block;
              padding: 5px;
            }
            & > a {
              font-weight: bold;
              padding: 20px 10px;
            }
          }

          ul.sub {
            position: absolute;
            width: 100%;
            display: none;
            top: 60px;
            a {
              color: #333;
              font-size: 14px;
            }
          }

          &.menu01 {
            li.main {
              span.over {
                display: none;
              }
              a {
                transition: 0.35s;
              }
              a.on {
                padding-right: 50px;
              }
              &:nth-child(4) a.on {
                padding-right: 95px;
              }
            }
          }

          &.menu02 {
            li.main {
              a {
                transition: 0.35s;
              }
              a.on {
                padding-right: 30px;
              }
              &:nth-child(1) a.on {
                padding-right: 60px;
              }
              &:nth-child(3) a.on {
                padding-right: 70px;
              }
            }
          }
        }
      }
      .search {
        position: absolute;
        top: 90px;
        right: 90px;
      }
      .menu_bar {
        position: absolute;
        top: 90px;
        right: 50px;
      }
    }
  }
}

#sect1 {
  height: 800px;
  .swiper {
    z-index: -20;
    width: 100%;
    height: 800px;

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

#sect2 {
  position: relative;
  .container {
    margin-top: 5%;
    .wrap {
      width: 100%;
      h2 {
        margin-bottom: 30px;
      }
      ul.menu {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;

        li {
          margin-bottom: 27px;
          &.on {
            font-size: 22px;
            color: $activeTextColor;
            font-weight: bold;
          }
        }
      }

      .slideContainer {
        width: 710px;
        height: 800px;
        margin: 50px auto;
        overflow: hidden;

        .slideWrap {
          position: relative;
          display: flex;
          width: 400%;

          .slide {
            width: 710px;
            height: 800px;
            overflow: hidden;

            video {
              height: 100%;
              vertical-align: top;

              position: relative;
              left: -40%;
            }
          }
        }
      }
      a.arrow img {
        height: 100px;
      }
      a.prev {
        position: absolute;
        left: 5%;
        top: 50%;
        transform: translateX(-50%);
        color: #666;
        z-index: 999;
      }
      a.next {
        position: absolute;
        right: 1%;
        top: 50%;
        transform: translateX(-50%);
        color: #666;
        z-index: 999;
      }
      a.prev.none,
      a.next.none {
        opacity: 0.2;
      }

      .desc {
        position: absolute;
        overflow: hidden;

        width: 385px;
        height: 400px;

        top: 55%;
        right: 10rem;
        transform: translateY(-50%);

        .verticalSlide {
          position: relative;
          top: 0;

          div {
            position: relative;

            top: 0;
            opacity: 0;

            width: 385px;
            height: 400px;

            transition: 2s cubic-bezier(0.01, 0.36, 0.77, 0.93);

            h3 {
              font-size: 30px;
              padding-bottom: 20px;
            }
            p {
              font-size: 18px;
              line-height: 28px;
            }

            &.on {
              top: 0;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

#sect3 {
  background: #f4f7fa;
  .wrap {
    margin-top: 5%;
    h2 {
      margin-bottom: 30px;
    }
    .category {
      text-align: center;
      margin-bottom: 30px;
      li {
        display: inline-block;
        color: #888;
        a {
          font-size: 22px;
          margin-right: 20px;
          &.on {
            font-weight: bold;
            color: #0890c0;
          }
        }
      }
    }
    .desc {
      position: absolute;
      color: #fff;
      left: 10%;
      top: 10%;
      text-align: left;

      p {
        border: 1px solid #fff;
        border-radius: 15px;
        font-size: 14px;
        display: inline-block;
        padding: 3px 10px;
      }
      h3 {
        padding: 10px 0;
        font-size: 35px;
        font-weight: 600;
      }
      h4 {
        font-size: 16px;
        font-weight: 500;
        padding: 10px 0 50px;
      }
      .btn {
        border: 1px solid #fff;
        padding: 20px 30px;
        display: inline-block;
        &:hover {
          background: #0890c0;
          border: 1px solid #0890c0;
          transition: 0.35s;
        }
      }
    }

    .slideTab {
      width: 1280px;
      height: 760px;
      position: relative;
      margin: auto;
    }
    .swiper {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      overflow: visible;

      &.on {
        opacity: 1;
        z-index: 100;
      }
    }
    .swiper-slide {
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .sect_slide01 {
    .swiper-slide {
      width: 1280px;
      height: 720px;
      background-size: cover;
      &:nth-child(1) {
        background-image: url(./img/tab1_1.jpg);
      }
      &:nth-child(2) {
        background-image: url(./img/tab1_2.jpg);
      }
      &:nth-child(3) {
        background-image: url(./img/tab1_3.jpg);
      }
    }
  }
  .sect_slide02 {
    .swiper-slide {
      width: 1280px;
      height: 720px;
      background-size: cover;
      &:nth-child(1) {
        background-image: url(./img/tab2_1.jpg);
      }
      &:nth-child(2) {
        background-image: url(./img/tab2_2.jpg);
      }
      &:nth-child(3) {
        background-image: url(./img/tab2_3.jpg);
      }
    }
  }
}

#sect4 {
  background: #f4f7fa;
  .wrap {
    h2 {
      padding: 40px;
      margin-bottom: 30px;
    }
    .container {
      .desc {
        position: absolute;
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);

        font-size: 25px;
      }
      .swiper {
        width: 710px;
        height: 710px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        .swiper-slide {
          /* Center slide text vertically */
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;

          .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
      .row {
        position: absolute;
        right: 10%;
        top: 50%;
        transform: translateY(-50%);
        .menu {
          li {
            cursor: pointer;
            font-size: 18px;
            line-height: 35px;
            color: #888;

            padding: 20px;
            &.on {
              color: #0890c0;
            }
            &:nth-child(2) {
              border-top: 1px solid #eee;
              border-bottom: 1px solid #eee;
            }
          }
        }
      }
    }
  }
}

#sect5 {
  .wrap {
    margin-top: 5%;
    h2 {
      margin-bottom: 30px;
    }
    .contents {
      width: 1760px;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      gap: 50px;
      justify-content: center;
      a {
        width: 330px;
        height: 330px;
        position: relative;
        overflow: hidden;
        transition: all 0.5s ease-out 0.2s;
        &:hover img{
          transform: scale(1.2);
        }
        img {
          width: 100%;
          transform: scale(1);
          transition: all 1s ease-out 0s;
        }
      }
    }
    .sns{
      padding: 50px 0;
      display: flex;
      justify-content: center;
      a{
        padding: 0 30px;
      }
    }
  }
}

#sect6{
  position: relative;
  width: 100%;
  height: 100vh;
  .wrap{
    .map{
      width: 100%;
      height: 500px;
      img{
        width: 100%;
        height: 500px;
        object-fit: cover;}
    }
    .inner{
      position: relative;
      .search{
        position: absolute;
        width: 340px;
        height: 340px;
        background: #0890c0;
        padding: 95px 70px 90px 70px;
        color: #fff;
        text-align: center;

        right: 20%;
        top: -200px;

        .text{
          font-size: 18px;
        }
        .input{
          top: 30%;
          position: relative;
          input{
            width: 200px;
            background: transparent;
            border: none;
            border-bottom: 2px solid #fff;
            padding: 10px 0;
            &::placeholder{
              color: #6fc5e4;
            }
          }
          a img{
            position: absolute;
            top: 7px;
            right: 0;
          }
        }
      }
    }
    .menu01{
      position: relative;
      ul{
        display: flex;
        position: absolute;
        left: 200px;
        top: 100px;
        li{
          padding: 20px 50px;
          text-align: center;
          p{
            padding: 10px;
            font-size: 18px;
          }
          &:nth-child(2){
            border-left: 1px solid #eee;
            border-right: 1px solid #eee;
          }
        }
      }
    }
    .menu02{
      width: 100%;
      display: flex;
      position: absolute;
      bottom: 0px;
      .num{
        width: 50%;
        height: 360px;
        background: #f4f4f4;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .number{
          padding: 30px;
        p{
          font-weight: bold;
          padding-bottom: 20px;
        }
        h3{
          font-weight: normal;
          font-size: 38px;
          padding-bottom: 10px;
        }
        span{
          font-size: 14px;
          color: #666;
        }
        }
      }
      .app{
        width: 50%;
        height: 360px;
        display: flex;
        align-items: center;
        .wrap{
          padding: 60px;
          h3{
            font-size: 28px;
            font-weight: normal;
            padding-bottom: 20px;
          }
          .store{
            display: inline-block;
            padding: 10px 20px;
            border: 1px solid #888;
            margin-right: 10px;
            transition: .35s;
            &:hover{
              background: #0890c0;
            }
            &:hover p{
              color: #fff;
            }
          }
          .more{
            letter-spacing: 2px;
            padding-top: 20px;
          }
        } 
      }
    }
  }
}

footer{
  padding: 50px;
  .footmenu{
    display: flex;
    a{
      padding-right:10px;
      .bold{
        font-weight: bold;
        color: #0890c0;
      }
    }
    padding-bottom: 20px;
  }
  .ect{
    font-size: 14px;
    p{
      padding: 6px 0;
    }
  }
}