@import "/reset.css";

body {
  background-color: #fffdf6;
  overflow-x: hidden;
}

header {
  z-index: 60;
  position: fixed;
  width: 100%;
  height: 76px;
  background-image: url(./img/bgHeader.gif);
  .wrap {
    height: 76px;
    padding: 0.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.subTit,
.contentMenu {
  position: relative;
  z-index: 10;
}

.footer_menu {
  display: none;
}
select {
  margin: 10px 0;
  color: #fff;
  padding: 5px 15px 5px 5px;
  border: 1px solid #000;
  background: #000
    url("https://freepikpsd.com/media/2019/10/down-arrow-icon-png-7-Transparent-Images.png");
}
select option {
  background: #000;
  color: #fff;
  padding: 10px 0;
}
.container {
  width: 100%;
  height: 100%;
  background: url(./img/bgContent.gif);
  background-position: center;
  background-repeat: repeat-y;
  z-index: -1;
}

footer {
  background: url(./img/bgBodyTop.gif);
  position: relative;
  z-index: 30;
}
// mobile
@media screen and (max-width: 820px) {
  section {
    position: relative;
  }
  .subTit {
    h2 {
      .pc {
        display: none;
      }
    }
  }
  header {
    z-index: 60;
    width: 100%;
    height: 76px;
    background-image: url(./img/bgHeader.gif);
    .wrap {
      height: 76px;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      nav {
        display: none;
      }
      .gnb {
        display: none;
      }
    }
  }
  #sect1 {
    padding-top: 120px;
    .subTit {
      text-align: center;
      .wide {
        display: inline-block;
      }
      .wide {
        display: none;
      }
    }
    .content {
      position: relative;
      .visual {
        display: none;
        width: 819px;
        height: 560px;
        position: relative;
        margin: auto;
        .music {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          z-index: -1;
        }
        .snack {
          z-index: 1;
          position: absolute;
          width: 335px;
          left: 50%;
          top: 5%;
          transform: translateX(-50%);
        }
        .snack2 {
          position: absolute;
          left: 22%;
          bottom: 20%;
        }
        .snack3 {
          position: absolute;
          right: 30%;
          bottom: 20%;
        }
        .txt {
          position: absolute;
          left: 47%;
          bottom: 0%;
          transform: translateX(-50%);
        }
      }
      .mobile_viual {
        .set {
          display: block;
          text-align: center;
          padding: 50px 0;
        }
        .sns {
          position: relative;
          width: 100%;
          border: 1px solid #999;
          background: #fff;
          font-size: 13px;
          padding: 20px 0;
          margin: 20px auto;
          span img {
            width: 30%;
          }
        }
        .ad {
          display: block;
          text-align: center;
          padding-bottom: 120px;
          div {
            display: flex;
            align-items: center;
            justify-content: center;
            span {
              font-weight: bold;
              font-size: 14px;
              padding: 0 10px;
            }
          }
        }
      }
    }
  }

  #sect2 {
    height: 500px;
    .wrap {
      position: relative;
      height: 100%;
      width: 500px;
      margin: auto;
      .subTit {
        h2 {
          text-align: center;
          font-weight: normal;
          img {
            width: 40%;
          }
          p {
            font-size: 15px;
            br {
              display: inline-block;
              content: " ";
              letter-spacing: -2;
            }
          }
        }
      }
      .contentMenu {
        z-index: 10;
        text-align: center;
      }
    }
    .anibg img {
      width: 150%;
      z-index: 2;
      position: absolute;
      top: -10%;
      left: 50%;
      transform: translateX(-50%);
      animation: anibg 15s ease-in-out infinite;
    }
  }
  #sect3 {
    height: 500px;
    .wrap {
      position: relative;
      height: 100%;
      width: 500px;
      margin: auto;
      .subTit {
        h2 {
          text-align: center;
          font-weight: normal;
          img {
            width: 40%;
          }
          p {
            font-size: 15px;
            br {
              display: inline-block;
              content: " ";
              letter-spacing: -2;
            }
          }
        }
      }
      .contentMenu {
        z-index: 10;
        text-align: center;
      }
    }
    .anibg img {
      width: 200%;
      z-index: 2;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      animation: anibg 15s ease-in-out infinite;
    }
  }
  #sect4 {
    height: 600px;
    .wrap {
      position: relative;
      height: 100%;
      width: 500px;
      margin: auto;
      .subTit {
        h2 {
          text-align: center;
          font-weight: normal;
          img {
            width: 40%;
          }
          p {
            font-size: 15px;
            br {
              display: inline-block;
              content: " ";
              letter-spacing: -2;
            }
          }
        }
      }
      .contentMenu {
        z-index: 10;
        text-align: center;
      }
    }
    .anibg img {
      width: 200%;
      z-index: 5;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      animation: anibg 15s ease-in-out infinite;
    }
  }
  #sect5 {
    height: 100vh;
    .wrap {
      position: relative;
      height: 100%;
      width: 500px;
      margin: 0 auto;
      .subTit {
        h2 {
          text-align: center;
          font-weight: normal;
          img {
            width: 40%;
          }
          p {
            font-size: 15px;
            br {
              display: inline-block;
              content: " ";
              letter-spacing: -2;
            }
          }
        }
      }
      .contentMenu {
        z-index: 10;
        text-align: center;
      }
    }
    .anibg img {
      width: 200%;
      z-index: 2;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      animation: anibg 15s ease-in-out infinite;
    }
    .bottombg {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  footer {
    top: -8px;
    .footer_menu {
      display: block;
    }
    height: 185px;
    .wrap {
      font-size: 12px;
      width: 463px;
      margin: auto;
      padding: 30px;

      .pc {
        display: none;
      }
      p {
        color: #999;
      }
      span {
        color: #ffa12e;
        font-weight: bold;
        padding-right: 6px;
      }
    }
  }
  .basic {
    display: none;
  }

  #remote {
    display: none;
    top: 50%;
    left: 50%;
    z-index: 3000;
    width: 44px;
    height: 207px;
    margin: -103px 0 0 -532px;
    background: url(./img/remote_bg.gif);
    text-indent: -99999px;
  }
}

// pc
@media screen and (min-width: 821px) {
  header {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 76px;
    background-image: url(./img/bgHeader.gif);
    .wrap {
      max-width: 1064px;
      height: 76px;
      margin: auto;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: space-between;
      nav {
        width: 55%;
        ul {
          display: flex;
          justify-content: space-between;
          li {
            position: relative;
            a {
              span.hover {
                display: none;
              }
            }
            &::after {
              content: url(./img/bulGnb.gif);
              position: absolute;
              top: -15px;
              right: -5px;
            }
            &:hover span.off {
              display: none;
            }
            &:hover span.hover {
              display: block;
            }
            &:hover a {
              color: #f26518;
              text-decoration: underline;
            }
          }
        }
      }
      .btngnb {
        display: none;
      }
      .gnb {
        display: flex;
        font-size: 13px;
        gap: 1rem;
      }
    }
  }
  .subTit {
    h2 {
      .mobile {
        display: none;
      }
    }
  }
  section {
    width: 100vw;
    height: 100vh;
    position: relative;
  }
  #sect1 {
    background: #fffdf6;
    height: 85vh;
    padding-top: 120px;
    .subTit {
      text-align: center;
      .wide {
        display: inline-block;
        img {
          width: 500px;
        }
      }
      .small {
        display: none;
      }
    }

    .visual {
      width: 1064px;
      height: 560px;
      position: relative;
      margin: auto;
      .music {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        
      }
      .snack {
        z-index: 2;
        position: absolute;
        left: 51.5%;
        opacity: 0;
        transform: translateX(-50%);
        animation: snack 0.45s linear 3s forwards;
      }
      .snack2 {
        position: absolute;
        left: 19%;
        bottom: 20%;
        opacity: 0;
        animation: snacks 1s linear 3.5s forwards;
      }
      .snack3 {
        position: absolute;
        right: 21%;
        bottom: 20%;
        opacity: 0;
        z-index: 1;
        animation: snacks 1s linear 3.5s forwards;
      }
      .txt {
        position: absolute;
        left: 50%;
        bottom: 0%;
        transform: translateX(-50%);
      }
      .shrimp1 {
        position: absolute;
        left: 0;
        top: 0;
        animation: shrimp1 2s linear forwards;
      }
      .shrimp2 {
        position: absolute;
        left: 30%;
        top: 0;
        animation: shrimp2 2s 0.4s linear forwards;
      }
      .shrimp3 {
        position: absolute;
        left: 45%;
        top: 0;
        animation: shrimp3 2s 0.8s linear forwards;
      }
      .shrimp4 {
        position: absolute;
        right: 0;
        top: 0;
        animation: shrimp4 2s 1.1s linear forwards;
      }
      .ship {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
      .ad {
        position: absolute;
        right: 2%;
        bottom: 30%;
        img {
          width: 220px;
        }
      }
      .sns {
        position: absolute;
        width: 220px;
        height: 210px;
        font-size: 13px;
        right: 2%;
        top: 5%;
        background: #fff;
        border: 1px solid #999;
        color: #333;
        padding: 10px;
        p:last-child {
          font-size: 11px;
          position: absolute;
          bottom: 0;
          padding: 0 0 10px 0;
        }
        img {
          width: 100%;
        }
      }
    }
    .mobile_viual {
      display: none;
    }
  }

  #sect2 {
    .wrap {
      position: relative;
      height: 100%;
      width: 1064px;
      margin: auto;

      .subTit {
        position: absolute;
        left: 0;
        top: 35%;
        h2 {
          width: 350px;
          text-align: right;
          p {
            font-size: 20px;
            font-weight: normal;
          }
        }
      }
      .contentMenu {
        z-index: 10;
        position: absolute;
        right: 0;
        top: 35%;
      }
    }
    .anibg {
      z-index: 2;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      animation: anibg 15s ease-in-out infinite;
    }
  }
  #sect3 {
    background: url(./img/bgContent.gif);
    background-size: contain;
    background: center bottom;
    height: 700px;

    .wrap {
      position: relative;
      height: 100%;
      width: 1064px;
      margin: auto;
      .subTit {
        position: absolute;
        left: 0;
        top: 35%;
        h2 {
          width: 350px;
          text-align: right;
          p {
            font-size: 20px;
            font-weight: normal;
          }
        }
      }
      .contentMenu {
        z-index: 10;
        position: absolute;
        right: 0;
        top: 35%;
      }
    }
    .anibg {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      animation: anibg 18s 1.2s ease-in-out infinite;
    }
  }
  #sect4 {
    height: 770px;
    .wrap {
      position: relative;
      height: 100%;
      width: 1064px;
      margin: auto;
      .subTit {
        position: absolute;
        left: 0;
        top: 35%;
        h2 {
          width: 350px;
          text-align: right;
          p {
            font-size: 20px;
            font-weight: normal;
          }
        }
      }
      .contentMenu {
        z-index: 10;
        position: absolute;
        right: 0;
        top: 35%;
      }
    }
    .anibg {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      animation: anibg 16s ease-in-out infinite;
    }
  }
  #sect5 {
    background: url(./img/bgContent.gif);
    background-size: contain;
    background: center bottom;

    height: 736px;
    overflow: hidden;
    .wrap {
      position: relative;
      height: 100%;
      width: 1064px;
      margin: auto;
      .subTit {
        position: absolute;
        left: 0;
        top: 35%;
        h2 {
          width: 350px;
          text-align: right;
          p {
            font-size: 20px;
            font-weight: normal;
          }
        }
      }
      .contentMenu {
        z-index: 10;
        position: absolute;
        right: 0;
        top: 35%;
      }
    }
    .anibg {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      animation: anibg 18s ease-in-out infinite;
    }
    .bottombg {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  #remote {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 3000;
    width: 44px;
    height: 207px;
    margin: -103px 0 0 -532px;
    background: url(./img/remote_bg.gif);
    text-indent: -99999px;

    .main a {
      height: 43px;
      background: url(./img/remote_mainOff.gif) center center no-repeat;
      &:hover,
      &.on {
        background: url(./img/remote_mainOn.gif) center center no-repeat;
      }
    }
    li a {
      display: block;
      overflow: hidden;
      height: 40px;
      text-indent: -1000px;
      background: url(./img/remote_btnOff.gif) center center no-repeat;
      &:hover,
      &.on {
        background: url(./img/remote_btnOn.gif) center center no-repeat;
      }
    }
  }
  .basic {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 20%;
    z-index: 70;
    opacity: 0;
    transition: .35s;
    &.on{
      opacity: 1;
    }
  }

  footer {
    height: 250px;
    top: -8px;
    .wrap {
      width: 650px;
      margin: auto;
      padding: 60px 0;
      font-size: 12px;
      ul {
        padding: 5px 0;
        li {
          padding: 5px;
          background: #000;
          color: #fff;
          display: inline-block;

          border-radius: 5px;
        }
      }
      p {
        img {
          padding-right: 6px;
        }
        padding: 5px 0;
        color: #999;
        span {
          color: #ffa12e;
          font-weight: bold;
          padding-right: 6px;
        }
      }
    }
  }
}

@keyframes shrimp1 {
  0% {
    left: 0;
    top: 0;
  }
  35% {
  }
  70% {
    opacity: 1;
  }
  100% {
    left: 460px;
    top: 160px;
    opacity: 0;
  }
}

@keyframes shrimp2 {
  0% {
    left: 30%;
    top: 0;
  }
  35% {
  }
  70% {
    opacity: 1;
  }
  100% {
    left: 460px;
    top: 160px;
    opacity: 0;
  }
}

@keyframes shrimp3 {
  0% {
    left: 45%;
    top: 0;
  }
  35% {
  }
  70% {
    opacity: 1;
  }
  100% {
    left: 460px;
    top: 160px;
    opacity: 0;
  }
}

@keyframes shrimp4 {
  0% {
    right: 0;
    top: 0;
  }
  35% {
  }
  70% {
    opacity: 1;
  }
  100% {
    right: 460px;
    top: 160px;
    opacity: 0;
  }
}

@keyframes snack {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes snacks {
  0% {
    opacity: 0;
    bottom: 15%;
  }
  100% {
    opacity: 1;
    bottom: 20%;
  }
}

@keyframes anibg {
  0% {
    bottom: 0%;
  }
  50% {
    top: 50%;
  }
  100% {
    bottom: 0%;
  }
}
