@import "/reset.css";

@font-face {
  font-family: "SBAggroB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans&display=swap&subset=korean");
@import url("https://fonts.googleapis.com/earlyaccess/notosanskr.css");

body {
  font-family: "Noto Sans KR", sans-serif;
}

img {
  vertical-align: top;
}

header {
  width: 100%;
  height: 60px;
  background: rgb(30, 44, 90);
  position: fixed;
  z-index: 99;
  .logo {
    h1 {
      img {
        height: 30px;
      }
    }
  }
}

#sect1 {
  width: 100%;
  .swiper {
    width: 100%;
    height: 770px;

    .swiper-slide {
      background-size: cover;
      background-position: center;
      img {
        display: block;
        width: 100%;
      }
    }
  }
  .banner {
    width: 100%;
    ul {
      display: flex;
      justify-content: center;
      li {
        img {
          width: 200px;
          vertical-align: top;
        }
        &:nth-child(1),
        &:nth-child(6) {
          flex: 1;
        }
        &:first-child {
          background: #ee781f;
          text-align: right;
        }
        &:last-child {
          background-image: #00341f;
          text-align: left;
        }
      }
    }
  }
  .intro {
    .inner {
      figure {
        position: sticky;
        top: 60px;
        text-align: center;
      }
      article {
        width: 800px;
      }
    }
  }
}

section {
  &:nth-of-type(n + 2) {
    .inner {
      figure {
        position: sticky;
        top: 60px;
        text-align: center;
      }
      article {
        width: 800px;
      }
    }
  }
}

a.top {
  cursor: pointer;
  position: fixed;
  right: 2%;
  bottom: 2%;
  transition: 0.35s;
  opacity: 0;
  img {
    width: 50px;
  }
}

// @media screen and (max-width: 1022px) {
//   header {
//     width: 100%;
//     height: 60px;
//     background: rgb(30, 44, 90);
//     position: fixed;
//     z-index: 99;

//     .mobile_bar {
//       width: 20px;
//       position: absolute;
//       left: 4%;
//       top: 50%;
//       transform: translateY(-50%);
//       img {
//         width: 100%;
//       }
//     }

//     .logo {
//       position: absolute;
//       top: 50%;
//       left: 50%;
//       transform: translate(-50%, -50%);
//       h1 {
//         img {
//           height: 30px;
//         }
//       }
//     }
//     nav {
//       display: none;
//     }
//     .sns {
//       display: none;
//     }
//   }

//   #sect1 {
//     width: 100%;

//     .banner {
//       width: 100%;
//       ul {
//         display: flex;
//         justify-content: center;
//         li {
//           img {
//             width: 200px;
//             vertical-align: top;
//           }
//           &:nth-child(1),
//           &:nth-child(6) {
//             flex: 1;
//           }
//           &:first-child {
//             background: #ee781f;
//             text-align: right;
//           }
//           &:last-child {
//             background: #00341f;
//             text-align: left;
//           }
//         }
//       }
//     }
//   }
// }
@media screen and (min-width: 1023px) {
  header {
    width: 100%;
    height: 60px;
    background: rgb(30, 44, 90);
    position: fixed;
    z-index: 99;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .mobile_bar {
      display: none;
    }
    .logo {
      h1 {
        img {
          height: 30px;
        }
      }
    }
    nav {
      width: 40%;
      ul.menu {
        width: 100%;
        display: flex;
        justify-content: space-between;
        li img {
          height: 17px;
        }
      }
    }
    .sns {
      width: 10%;
      display: flex;
      justify-content: space-between;
      img {
        height: 30px;
      }
    }
  }

  #sect1 {
    width: 100%;
    position: relative;
    .swiper {
      width: 100%;
      height: 770px;
      .swiper-slide {
        background-size: cover;
        background-position: center;
        img {
          width: 100%;
          height: 100%;
          display: block;
          object-fit: cover;
        }
      }
    }
    .banner {
      width: 100%;
      ul {
        display: flex;
        justify-content: center;
        li {
          img {
            width: 200px;
            vertical-align: top;
          }
          &:nth-child(1),
          &:nth-child(6) {
            flex: 1;
          }
          &:first-child {
            background: #ee781f;
            text-align: right;
          }
          &:last-child {
            background: #00341f;
            text-align: left;
          }
        }
      }
    }
    .intro {
      background: #141e3c;
      .inner {
        width: 1200px;
        margin: auto;
        display: flex;
        text-align: center;
        figure {
          position: sticky;
          top: 60px;
          .mob {
            display: none;
          }
        }
        article {
          width: 800px;
          .desc1 {
            .line {
              height: 2px;
              width: 80px;
              background: #fff;
              margin: 60px auto;
            }
            h2 {
              font-family: "SBAggroB";
              font-size: 2.7rem;
              color: #fadd01;
              padding: 30px;
            }
            p {
              color: #ccc;
              padding: 30px;
            }
            img {
              width: 100%;
            }
          }
          .desc2 {
            .line {
              height: 2px;
              width: 80px;
              background: #fff;
              margin: 60px auto;
            }
            h2 {
              font-family: "SBAggroB";
              font-size: 2.7rem;
              color: #fadd01;
              padding: 30px;
            }
            p {
              color: #ccc;
              padding: 30px;
            }
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }

  section {
    position: relative;
    &:nth-of-type(n + 2) {
      .inner {
        width: 1200px;
        margin: auto;
        display: flex;
        figure {
          order: 2;
          width: 400px;
          h2 {
            position: sticky;
            top: 60px;
            img {
              width: 100%;
            }
          }
          .mob {
            display: none;
          }
        }
        article {
          order: 1;
          width: 800px;
          background: #ffe7d3;

          text-align: center;

          .desc1 {
            h3 {
              font-size: 1rem;
              padding-top: 50px;
            }
            h2 {
              font-size: 2rem;
              padding: 50px 0;
            }
            p {
              font-size: 0.9rem;
              padding: 30px 0 60px 0;
              color: #888;
            }
            img {
              width: 100%;
            }
          }
          .desc2 {
            h3 {
              font-size: 1rem;
              font-weight: 500;
              padding-top: 50px;
            }
            h2 {
              font-size: 2rem;
              padding: 60px 0;
            }
            .text {
              padding-bottom: 65px;
              h4 {
                span {
                  color: #ff7800;
                  padding-right: 10px;
                }
              }
              p {
                font-size: 0.9rem;

                color: #888;
              }
            }
            img {
              width: 100%;
            }
          }
        }
      }
    }
    &:nth-of-type(n + 3) {
      .inner {
        width: 1200px;
        margin: auto;
        display: flex;
        figure {
          order: 1;
          width: 400px;
          h2 {
            position: sticky;
            top: 60px;
            img {
              width: 100%;
            }
          }
          .mob {
            display: none;
          }
        }
        article {
          order: 2;
          width: 800px;
          background: #fffbdf;

          text-align: center;

          .desc1 {
            h3 {
              font-size: 1rem;
              padding-top: 50px;
            }
            h2 {
              font-size: 2rem;
              padding: 50px 0;
            }
            p {
              font-size: 0.9rem;
              padding: 30px 0 60px 0;
              color: #888;
            }
            img {
              width: 100%;
            }
          }
          .desc2 {
            h3 {
              font-size: 1rem;
              font-weight: 500;
              padding-top: 50px;
            }
            h2 {
              font-size: 2rem;
              padding: 60px 0;
            }
            .text {
              padding-bottom: 50px;
              h4 {
                span {
                  color: #ff7800;
                  padding-right: 10px;
                }
              }
              p {
                font-size: 0.9rem;

                color: #888;
              }
            }
            img {
              width: 100%;
            }
          }
        }
      }
    }
    &:nth-of-type(n + 4) {
      .inner {
        width: 1200px;
        margin: auto;
        display: flex;
        figure {
          order: 2;
          width: 400px;
          h2 {
            position: sticky;
            top: 60px;
            img {
              width: 100%;
            }
          }
          .mob {
            display: none;
          }
        }
        article {
          order: 1;
          width: 800px;
          background: #e3d5ff;

          text-align: center;

          .desc1 {
            h3 {
              font-size: 1rem;
              padding-top: 50px;
            }
            h2 {
              font-size: 2rem;
              padding: 50px 0;
            }
            p {
              font-size: 0.9rem;
              padding: 30px 0 60px 0;
              color: #888;
            }
            img {
              width: 100%;
            }
          }
          .desc2 {
            h3 {
              font-size: 1rem;
              font-weight: 500;
              padding-top: 50px;
            }
            h2 {
              font-size: 2rem;
              padding: 60px 0;
            }
            .text {
              padding-bottom: 65px;
              h4 {
                span {
                  color: #ff7800;
                  padding-right: 10px;
                }
              }
              p {
                font-size: 0.9rem;

                color: #888;
              }
            }
            img {
              width: 100%;
            }
          }
        }
      }
    }
    &:nth-of-type(n + 5) {
      .inner {
        width: 1200px;
        margin: auto;
        display: flex;
        figure {
          order: 1;
          width: 400px;
          h2 {
            position: sticky;
            top: 60px;
            img {
              width: 100%;
            }
          }
          .mob {
            display: none;
          }
        }
        article {
          order: 2;
          width: 800px;
          background: #ffdeed;

          text-align: center;

          .desc1 {
            h3 {
              font-size: 1rem;
              padding-top: 50px;
            }
            h2 {
              font-size: 2rem;
              padding: 50px 0;
            }
            p {
              font-size: 0.9rem;
              padding: 30px 0 60px 0;
              color: #888;
            }
            img {
              width: 100%;
            }
          }
          .desc2 {
            h3 {
              font-size: 1rem;
              font-weight: 500;
              padding-top: 50px;
            }
            h2 {
              font-size: 2rem;
              padding: 60px 0;
            }
            .text {
              padding-bottom: 65px;
              h4 {
                span {
                  color: #ff7800;
                  padding-right: 10px;
                }
              }
              p {
                font-size: 0.9rem;

                color: #888;
              }
            }
            img {
              width: 100%;
            }
          }
        }
      }
    }
    &:nth-of-type(n + 6) {
      .inner {
        width: 1200px;
        margin: auto;
        display: flex;
        figure {
          order: 1;
          width: 400px;
          h2 {
            position: sticky;
            top: 60px;
            img {
              width: 100%;
            }
          }
          .mob {
            display: none;
          }
        }
        article {
          order: 2;
          width: 800px;
          background: #eaedc8;

          text-align: center;

          .desc1 {
            h3 {
              font-size: 1rem;
              padding-top: 50px;
            }
            h2 {
              font-size: 2rem;
              padding: 50px 0;
            }
            p {
              font-size: 0.9rem;
              padding: 30px 0 60px 0;
              color: #888;
            }
            img {
              width: 100%;
            }
          }
          .desc2 {
            h3 {
              font-size: 1rem;
              font-weight: 500;
              padding-top: 50px;
            }
            h2 {
              font-size: 2rem;
              padding: 60px 0;
            }
            .text {
              padding-bottom: 65px;
              h4 {
                span {
                  color: #ff7800;
                  padding-right: 10px;
                }
              }
              p {
                font-size: 0.9rem;

                color: #888;
              }
            }
            img {
              width: 100%;
            }
          }
        }
      }
    }
    &:nth-of-type(n + 7) {
      .inner {
        width: 1200px;
        margin: auto;
        display: flex;
        figure {
          order: 1;
          width: 400px;
          h2 {
            position: sticky;
            top: 60px;
            img {
              width: 100%;
            }
          }
          .mob {
            display: none;
          }
        }
        article {
          order: 2;
          width: 800px;
          background: #d7ffef;

          text-align: center;

          .desc1 {
            h3 {
              font-size: 1rem;
              padding-top: 50px;
            }
            h2 {
              font-size: 2rem;
              padding: 50px 0;
            }
            p {
              font-size: 0.9rem;
              padding: 30px 0 60px 0;
              color: #888;
            }
            img {
              width: 100%;
              padding-bottom: 220px;
            }
          }
        }
      }
    }
  }
}
