@import "/reset.css";

.flex {
  display: flex;
  align-items: center;
}

header {
  background: #000;
  color: #fff;
}
.row {
  padding: 0 1rem;
}

h1 img {
  width: 155px;
}
h1 {
  margin-right: 100px;
}

header ul li a {
  font-size: 30px;
  font-weight: bold;
}

header ul {
  gap: 25px;
}
nav ul li:nth-child(1) {
  text-transform: uppercase;
}

header ul li {
  text-transform: capitalize;
}
.rnb li a {
  font-size: 16px;
}
.rnb li img {
  width: 37px;
}

.row1 {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
}
.row2 {
  height: 53px;
}

.container {
  max-width: 100%;
  padding: 20px 240px;
  margin: auto;
}

h2 {
  font-size: 72px;
  padding-bottom: 20px;
}

.menu ul {
  flex-wrap: wrap;
  gap: 20px;
}
.menu ul li {
  font-size: 30px;
  font-weight: bold;
  white-space: nowrap;
}

.menu ul li a {
  display: block;
}
.menu ul li a::before {
  content: url("./images/bracket-green-l.svg");
  margin-right: 16px;
  opacity: 0;
}
.menu ul li a::after {
  content: url("./images/bracket-green-r.svg");
  margin-left: 16px;
  opacity: 0;
}
.menu ul li.active a::before,
.menu ul li:hover a::before {
  opacity: 1;
}
.menu ul li.active a::after,
.menu ul li:hover a::after {
  opacity: 1;
}

.row3 {
  justify-content: space-between;
}
.row3 .col1 {
  width: 50%;
  font-weight: bold;
  font-size: 18px;
  margin: 30px 0;
}

.row3 .col2 {
  width: 30%;
  border-radius: 0;
}

.row3 .col2 input[type="text"] {
  display: block;
  width: 100%;
  padding: 14px;
}

.items ul li {
  max-width: 248px;
  border: 1px solid #000;
}
.items ul li img {
  width: 100%;
}

.items{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 20px;
}

.items .brand .img{
 width: 325px;
 height: 325px;
 border: 1px solid #000;
}
.items .brand .img img{
  width: 100%;
 }
 .brand p{
  width: 325px;
  font-weight: bold;
  font-size: 18px;
 }
 .color{
  color:#00e43d; 
margin-bottom: 20px;}

footer .text{
  display: flex;
  height: 70px;
  border-top: 1px solid #000;
}

footer .text p{
  font-size: 48px;
  font-weight: bold;
  padding: 0 20px;
}
footer .text .wrap{
  display: flex;
}
footer .text input{
  width: 1000px;
  margin: 5px;
  background: #eee;
  border: none;
}
footer .text input[placeholder]{
  font-size: 30px;
  color: #fff;
  padding-left: 10px;
}
.ect{
  height: 170px;
  width: 100%;
  background: #000;
  display: flex;
  color: #fff;
  font-weight: bold;
  justify-content: space-around;
  align-items: center;
}