@import "/reset.css";
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url(./img/bg_main.jpg);
  background-size: cover;
  background-attachment: fixed;
}
header {
  width: 160px;
  height: 100%;
  position: fixed;
  background: #323232;

  z-index: 90;

  h1 {
    height: 70px;
    background: #fff;
    text-align: center;
    line-height: 70px;
  }

  nav {
    margin-top: 40px;
    ul {
      li {
        padding-bottom: 20px;
        position: relative;

        &::after {
          position: absolute;
          content: url(./img/red_arr1.png);
          right: 15px;
          top: -1px;
          display: none;
        }
        &:hover::after {
          display: block;
        }

        a {
          text-align: right;
          padding-right: 30px;
        }
      }
    }
  }
  .site {
    margin-top: 50px;
    display: flex;
    border-top: 1px solid #464646;
    border-bottom: 1px solid #464646;
    a {
      width: 50%;
      text-align: center;
      padding: 12px 0;
      border-right: 1px solid #464646;
    }
  }
  .sns {
    margin-top: 150px;
    text-indent: -9999px;
    ul{
      display: flex;
      justify-content: space-around;
      li {
        width: 20px;
        height: 20px;
        a {
          background: url(./img/sns_irbg.gif);
        }
        .face {
          background-position-x: 0px;
        }
        .twit {
          background-position-x: 70px;
        }
        .ect {
          background-position-x: 20px;
        }
      }
    }
    
  }

  footer{
    margin-top: 30px;
    ul{
      li{
        padding: 5px 10px;
        position: relative;
        border-top: 1px solid #464646;
        border-bottom: 1px solid #464646;
        &::after {
          position: absolute;
          content: url(./img/red_arr_s2.png);
          right: 15px;
          top: -1px;
        }
        &:nth-child(1){
          background: #1c1c1c;
          &::after {
            position: absolute;
            content: url(./img/red_arr_s1.png);
            right: 15px;
            top: -1px;
          }
        }

      }
    }
    .copy{
      padding: 10px;
    }
  }
}

section {
  position: relative;
  margin-left: 160px;
  display: flex;

  article {
    width: 380px;
    height: 100vh;
    background: #fff;
    box-shadow: rgb(0 0 0 / 19%) 0px 10px 20px, rgb(0 0 0 / 23%) 0px 6px 6px;

    figure img {
      vertical-align: top;
    }
    iframe {
      vertical-align: top;
    }

    .container {
      border-top: 3px solid #ed1c24;
      background: url(./img/point_red.png) no-repeat top center;
      padding: 60px 40px 0;

      h2 {
        text-align: center;
        margin-bottom: 30px;
      }
    }
  }
}

.btn {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  a {
    display: inline-block;
    background: rgba(0, 0, 0, 0.5);

    &.on {
      background: #cb2f33;
    }
  }
}

#business {
  .contents {
    padding: 50px 0;
    li {
      display: flex;
      flex-wrap: wrap;
      background: url(./img/bg_dotline.gif) repeat-x bottom;
      margin-bottom: 30px;
      .img {
        background: url(./img/bg_biz.jpg);
        background-position-y: -300px;
        width: 80px;
        height: 80px;
        display: block;
        margin-right: 20px;
      }
      &:nth-child(2) .img {
        background-position-y: -750px;
      }
      &:nth-child(3) .img {
        background-position-y: -900px;
      }
      .btnmore {
        width: 300px;
        height: 24px;
        text-align: right;
      }
    }
  }
}

#company {
  .contents {
    padding: 50px 0;
    ul {
      display: inline-block;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      li {
        h3 {
          background: url(./img/red_arr_s1.png) no-repeat center right;
        }
        .img {
          width: 120px;
          height: 120px;
          background: url(./img/bg_company.jpg);
          background-position-y: -275px;
          // background-repeat: no-repeat;
          display: block;
          margin-bottom: 30px;
        }
        &:nth-child(2) .img {
          background-position-x: -1085px;
          background-position-y: -280px;
        }
        &:nth-child(3) .img {
          background-position-x: -720px;
          background-position-y: -290px;
        }
        &:nth-child(4) .img {
          background-position-x: -360px;
          background-position-y: -299px;
        }
      }
    }
  }
}

#pr {
  .contents {
    padding: 50px 0;
    font-size: 12px;
    line-height: 1.3;
    color: #333;
    .prcenter {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .center_desc {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0;
      figure {
        width: 100px;
        height: 75px;
        img {
          width: 100%;
        }
      }
      .text {
        width: 180px;
      }
    }
    .list {
      .text {
        display: flex;
        justify-content: space-between;
        padding-bottom: 5px;
      }
    }
  }
  .recruitment {
    background: url(./img/bg_recruitment.jpg) right bottom no-repeat;
    border-top: 1px solid #dfdfdf;
    padding: 20px;
    .contents {
      img {
        padding: 10px 0;
      }
    }
  }
}

#ir {
  .box {
    border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    padding: 20px 40px 50px;
    font-size: 12px;
    line-height: 1.3;
    color: #333;
    img {
      padding: 30px 0 10px 0;
    }
    .text {
      display: flex;
      justify-content: space-between;
      padding: 5px 0;
    }
  }
  .center_desc {
    padding: 20px 40px 30px;
    figure {
      padding: 20px 0;
    }
    .wrap {
      .grap {
        margin-right: 20px;
      }
      padding: 30px 0;
      display: flex;
      justify-content: space-between;
      .btnmore {
        display: inline-block;
      }
    }
  }
}

#network {
  .container {
    background: url(./img/bg_network.gif);
    background-repeat: no-repeat;
    width: 100%;
    height: 670px;
    .contents {
      padding: 50px 0;
      position: relative;
      .img {
        position: absolute;
        right: -10px;
        top: 240px;
      }
    }
  }
}
