@import "/reset.css";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #333;
}
::-webkit-scrollbar{
    display: none;
}
h1 {
  text-align: center;
  font-weight: normal;
  padding: 100px;
}
.l7hotelbg {
  width: 100%;
  height: 700px;
  background-image: url(./img/L7HOTLE_BG.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  width: 1410px;
  margin: auto;

  .explanation {
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    padding: 50px 0;
  }

  .place {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 60px;
    .place_list {
      display: flex;
      padding-bottom: 10px;
      p {
        width: 100px;
        font-weight: bold;
      }
      ul {
        display: flex;
        li {
          margin: 0px 20px;
        }
      }
    }
  }
}

.main_desc {
    width: 1410px;
    margin: auto;
    padding: 50px 0;
    h1 {
      padding-bottom: 50px;
    }
    p {
      text-align: center;
      font-size: 18px;
    }
  }

  .sub_contents {
    width: 1410px;
    margin: auto;

    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
    .thum {
      flex: 1;
      h2 img {
        width: 450px;
      }
      h3 {
        padding: 10px 0;
      }
      p {
        width: 450px;
        color: #888;
        letter-spacing: -1px;
      }
    }
  }
