@import "/reset.css";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #333;
}
::-webkit-scrollbar{
  display: none;
}

h1 {
  text-align: center;
  font-weight: normal;
  padding: 100px;
}
.signielbg {
  width: 100%;
  height: 700px;
  background-image: url(./img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  width: 1410px;
  margin: auto;
  .explanation {
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    padding: 50px 0;
  }
  .place {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 60px;

    display: flex;
    .div {
      font-weight: bold;
      margin-right: 30px;
    }
    .place_list ul {
      display: flex;
      li {
        margin: 0px 20px;
      }
    }
  }
}
.main_desc{
  padding: 50px 0;
  h1{
      padding-bottom: 50px;
  }
  p{
      text-align: center;
      font-size: 18px;
  }
}
.sub_contents{

  display: flex;
  justify-content: space-between;
  padding-bottom: 100px;
  h2 img{
      width: 450px;
  }
  h3{
      padding: 10px 0;
  }
  p{
      width: 450px;
      color: #888;
      letter-spacing: -1px;
  }
}