@import "/reset.css";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.notosanskr * {
  font-family: "Noto Sans KR", sans-serif;
}

figure {
  position: fixed;
  width: 1920px;
  height: 1080px;
  margin: auto;
}

video {
  width: 100%;
  min-width: 1800px;
}

header {
  font-family: "Noto Sans KR", sans-serif;
  position: fixed;
  width: 800px;
  height: 100vh;
  transform: skewX(-40deg);
  left: -700px;
  background-image: linear-gradient(to right top, #ffffff, #fbf7fc, #fceef5, #ffe4e9, #ffdcd8, #ffd1cc, #ffc7c0, #ffbcb4, #ffaabb, #f79dce, #db96e7, #a598ff);
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
}
header h1 {
  position: absolute;
  width: 150px;
  top: 10px;
  right: 25%;
  transform: skewX(40deg);
}
header h1 img {
  width: 150%;
}
header ul.nav {
  width: 200px;
  position: absolute;
  right: 0;
  top: 140px;
}
header ul.nav li.main {
  position: relative;
}
header ul.nav li.main a {
  display: block;
  padding: 10px;
  text-align: center;
}
header ul.nav li.main a span {
  display: block;
  transform: skewX(40deg);
}
header ul.nav li.main > a {
  background: linear-gradient(to left, #fff, #fff 10%, transparent);
  color: #333;
  font-weight: bold;
  padding: 10px;
  margin: 10px 0;
}
header ul.nav li.main ul.sub {
  width: 100%;
  color: #fff;
  opacity: 0;
  position: absolute;
  left: 199.5px;
  top: 0;
  transform: translateX(-700px);
  transition: 0.35s;
}
header ul.nav li.main ul.sub li a {
  position: relative;
}
header ul.nav li.main ul.sub li a::after,
header ul.nav li.main ul.sub a.on::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-bottom: 3px solid #fff;
  box-sizing: border-box;
  left: 0;
  bottom: 0;
  z-index: 99;
  transform: scaleX(0);
  transition: 0.35s ease-in-out;
}
header ul.nav li.main ul.sub li:hover a,
header ul.nav li.main ul.sub a.on {
  background: rgba(255, 185, 185, 0.7);
  color: #333;
}
header ul.nav li.main ul.sub li a:hover::after,
header ul.nav li.main ul.sub a.on::after {
  transform: scaleX(1);
}
header ul.nav li.main:hover .sub, header ul.nav li.main.on .sub {
  display: block;
  transform: translateX(0px);
  opacity: 1;
}
header ul.nav li.main:hover > a, header ul.nav li.main.on > a {
  background: linear-gradient(to left, #ffecb5, #ffecb5 10%, transparent);
}

aside {
  width: 700px;
  height: 100vh;
  position: fixed;
  right: -800px;
  top: 0;
  transform: skewX(-40deg);
  transition: 0.35s;
  cursor: pointer;
  background-image: linear-gradient(to right bottom, #a598ff, #ce91ec, #e98cd5, #f88cbe, #ff91a9, #fe8e9d, #fc8b91, #f98985, #f47a7d, #ef6a76, #e95a6f, #e3486a);
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.5);
}
aside:hover {
  right: -600px;
}
aside:hover .btn {
  left: 800px;
}
aside:hover .Cologne img {
  animation: fadeOut 1s forwards;
}
aside .event {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 100%;
  background: rgba(233, 112, 112, 0.7);
  transition: 0.35s;
  transition-delay: 0.35s;
}
aside .event ul {
  position: absolute;
  bottom: 20px;
}
aside .event ul li {
  position: absolute;
  left: 500px;
  transition: 0.35s;
  border: 1px solid #000;
}
aside .event ul li img {
  transform: skewX(40deg);
}
aside .event ul li figure img {
  height: 100px;
  border-radius: 10px;
}
aside :hover .event {
  left: 5%;
}
aside:hover .event ul li {
  left: 50px;
}
aside:hover .event ul li:nth-child(1) {
  transition-delay: 0s;
}
aside:hover .event ul li:nth-child(2) {
  transition-delay: 0.5s;
}
aside:hover .event ul li:nth-child(3) {
  transition-delay: 1s;
}

.btn {
  position: absolute;
  left: 0px;
  bottom: 0px;
  color: #fff;
  font-size: 60px;
  width: 180px;
  height: 60px;
  transform: skewX(40deg);
  transition: 0.35s;
  cursor: pointer;
}
.btn i.fa-solid {
  position: absolute;
  right: 0;
  animation: arrowAni 1s infinite linear;
}
.btn i.fa-solid:nth-child(1) {
  animation-delay: 0s;
}
.btn i.fa-solid:nth-child(2) {
  animation-delay: 0.5s;
}
.btn i.fa-solid:nth-child(3) {
  animation-delay: 1.5s;
}

.Cologne {
  position: absolute;
  left: -230px;
  bottom: 75px;
  transform: skewX(40deg);
}
.Cologne img {
  animation: pulse 1s infinite linear;
  width: 400px;
}

@keyframes arrowAni {
  from {
    right: 0;
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    right: 80px;
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes pulse {
  0% {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}/*# sourceMappingURL=style.css.map */