@import "/reset.css";

.row {
  max-width: 1200px;
  margin: auto;
  padding: 1rem;
  position: relative;
}
.swiper {
  width: 100%;
  height: 400px;
  margin-bottom: 30px;
    .swiper-slide {
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
}

@media screen and (max-width: 576px) {
  header {
    .top {
      h1 {
        width: 30%;
        margin: auto;
        img {
          width: 100%;
        }
      }
    }
    nav ul {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      font-size: 13px;
      font-weight: bold;
      text-align: center;
      li {
        width: 220px;
        padding: 10px;
        color: #888;
        &.on {
          color: #333;
        }
      }
    }
  }
  .contents {
    .notice {
        margin-bottom: 30px;
      figure {
        width: 30%;
        margin: auto;
        img {
          width: 100%;
        }
      }
    }
    .bg {
        margin-top: 30px;
      position: relative;
      img {
        width: 100%;
        margin: auto;
      }
      .text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: #fff;
        h2 {
          display: none;
        }
        p {
          font-size: 13px;
          margin: 20px;
          padding: 30px 50px;
          background: rgba($color: #000000, $alpha: 0.5);
        }
      }
    }
  }
  h1{width: 90%; margin: auto; img{width: 100%;}}
  section {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    article {
      width: 49.5%;
      figure img {
        width: 100%;
      }
      .desc {
        display: none;
      }
    }
  }
  footer {
    background: #121111;
    color: #666;
    font-size: 12px;
    font-weight: bold;
    .footer_menu {
      line-height: 30px;
    }
    .contact {
      line-height: 30px;
    }
    .sns {
      margin: 20px 0;
      order: 4;
    }
  }
}
@media screen and (min-width: 577px) {
  header .row {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header {
    .top {
      h1 {
        width: 50%;
        img {
          width: 100%;
        }
      }
    }
    nav ul {
      display: flex;
      align-items: center;
      font-size: 0.8rem;
      font-weight: bold;
      text-align: center;
      li {
        padding: 10px 20px;
        color: #888;
        &.on {
          color: #333;
        }
      }
    }
  }
  .contents {

    .notice {
        margin-bottom: 30px;
      figure {
        width: 30%;
        margin: auto;
        img {
          width: 100%;
        }
      }
    }
    .bg {
        margin-top: 30px;
      position: relative;
      img {
        width: 100%;
        height: 200px;
        margin: auto;
        object-fit: cover;
      }
      .text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: #fff;
        h2 {
          display: none;
        }
        p {
          margin: 30px;
          font-size: 13px;
          padding: 30px 50px;
          background: rgba($color: #000000, $alpha: 0.5);
        }
      }
    }
  }
  h1{width: 80%; margin: auto; img{width: 100%;}}
  section {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    article {
      width: 49.7%;
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex-wrap: wrap;
      margin-bottom: 4px;
      figure img {
        width: 100%;
        vertical-align: top;
      }
      &:hover .desc{
        opacity: 1;
        transition: opacity .6s;
      }
      .desc {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: rgba($color: #000000, $alpha: 0.5);
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 20px;
        color: #fff;
        text-align: center;

        opacity: 0;
        h3{
            font-size: 1rem;
            width: 100%;
        }
        p {
          margin-top: 10px;
          font-size: 0.7rem;
        }
      }
    }
  }
  footer {
    position: relative;
    background: #121111;
    color: #666;
    font-size: 12px;
    font-weight: bold;
    .row {
      display: flex;
      flex-wrap: wrap;
      .contact {
        width: 100%;
        line-height: 30px;
        ul li:nth-child(3) {
          border-top: 1px solid #666;
        }
      }
      .footer_menu {
        width: 50%;
        line-height: 30px;
      }
      .sns {
        width: 50%;
      }
    }
  }
}
@media screen and (min-width: 992px) {
  header .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
  }
  header {
    .top {
      h1 {
        width: 50%;
        img {
          width: 100%;
        }
      }
    }
    nav ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      li {
        padding: 10px 38px;
      }
    }
  }
  .contents {
    .notice {
        margin-bottom: 30px;
      figure {
        width: 20%;
        margin: auto;
        img {
          width: 100%;
        }
      }
    }
    .bg {
        margin-top: 30px;
      position: relative;
      img {
        width: 100%;
        height: 400px;
        margin: auto;
        object-fit: cover;
      }
      .text {
        margin: 30px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        color: #fff;
        h2{display: block; font-size: 3rem;}
        p {
          height: 100%;
          font-size: 13px;
          padding: 30px 50px;
          background: rgba($color: #000000, $alpha: 0.5);
        }
      }
    }
  }
  h1{width: 60%;
    text-align: center; img{width: 100%;}}
  section {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    article {
      width: 19.8%;
      position: relative;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 2px;
      margin-left: 2px;
      figure img {
        width: 100%;
        vertical-align: top;
      }
      &:hover .desc{
        opacity: 1;
      }
      .desc {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: rgba($color: #000000, $alpha: 0.5);
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 20px;
        color: #fff;
        h3{
            font-size: 1rem;
            width: 100%;
        }
        p {
          margin-top: 10px;
          font-size: 0.7rem;
        }
      }
    }
  }
  footer {
    position: relative;
    background: #121111;
    color: #666;
    font-size: 12px;
    font-weight: bold;
    .row {
      display: flex;
      flex-direction: row-reverse;
      .contact {
        width: 30%;
        line-height: 30px;
        ul li:nth-child(3) {
          border-top: 1px solid #666;
        }
      }
      .footer_menu {
        width: 30%;
        line-height: 30px;
      }
      .sns {
        width: 30%;
      }
    }
  }
}
