@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
ul {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
html,
body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Pretendard-Regular';
}
main{
  position: relative;
}
header {
  width: 100%;
  height: 110px;
  display: flex;
  align-items: center;
}
header h1 img {
  margin: 50px;
}
nav{
    width: 35%;
    font-weight: 500;
    font-size: 18px;
}
nav ul.menu{
    display: flex;
}
nav li.main {
    flex: 1;
    text-align: center;

    position: relative;
}
nav li.main a{
  display: block;
}
nav li.main > a{
  padding: 20px;
}
ul.sub{
  width: 100%;

  display: none;
  position: absolute;
  top: 60px;
  z-index: 99;

  color: rgb(95, 95, 95);
  font-size: 13px;
  text-align: left;

}
ul.sub li{
  padding: 10px;

  background-color: #fff;
  border-top: 1px solid #ddd;
}
ul.sub li:first-child{
  border-top: 5px solid #f47a20;
}

ul.sub li a:hover{
  color: #f47a20;
}
/* -------------------------- */

.text{
  position: absolute;
  z-index: 10;

  left:15%;
  top: 15%;

  color: #fff;
}
.text h2{
  display: inline-block;
  margin-bottom: 16px;
  font-size: 35px;
  font-weight: 400;
}
.text h2:first-child{
  padding: 0 20px 0 20px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}
.text p{
  width: 400px;

  color: rgba(255,255,255,0.7);
  font-size: 14.5px;
  font-weight: 300;
  line-height: 25px;
}

