@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@500&display=swap");
@import url(./header.css);
@import "/reset.css";
@import url(./footer.css);
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300;1,400&family=Noto+Sans+KR&family=Noto+Serif+KR:wght@500&display=swap");

body {
  font-size: 10px;
}
* {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
span {
  font-family: "Noto Serif KR", serif;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
ul,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  display: block;
  color: inherit;
}
.flex {
  display: flex;
}

::-webkit-scrollbar {
  display: none;
}

section {
  height: 100vh;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#sect1 {
  background: url(../image/메인/v_img01_sdown.jpg) no-repeat center / cover;
}
/*-------------------sect2  */
#sect2 {
  background-image: url(../image/메인/section01.jpg);
}
/* ----------sect3 */
#sect3 {
  background-image: url(../image/메인/section02.jpg);
}
/* ----------sect4 */
#sect4 {
  background-image: url(../image/메인/section03.jpg);
}
/* -------------sect5 */
#sect5 {
  background: url(../image/메인/section04.jpg) no-repeat 50% top / cover;
}

#sect1 h2 {
  color: #fff;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#sect1 h4 {
  color: #fff;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
}
.scrollbtn {
  position: absolute;
  left: 50%;
  bottom: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  z-index: 10;
}
.scrollbtn img {
  width: 30px;
  margin-top: 1rem;
  animation: vScrollAni 0.8s alternate infinite linear;
}
.scrollbtn span {
  font-size: 18px;
}

/* ------------------ */

#sect2 h2 {
  color: #fff;
  text-align: center;
  font-size: 55px;
  position: absolute;
  left: 50%;
  padding-top: 150px;
  transform: translateX(-50%);
}
#sect2 span {
  color: #fff;
  text-align: center;
  font-size: 25px;
  position: absolute;
  left: 50%;
  padding-top: 350px;
  transform: translateX(-50%);
}
.application {
  position: absolute;
  color: #fff;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.3);
  display: inline-block;
  padding: 20px 30px;
  border-radius: 50px;

  left: 50%;
  top: 55%;
  transform: translate(-50%, -55%);
}

.tab_list {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}

ul.tab_list li {
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  position: relative;
}
ul.tab_list li a {
  display: block;
  position: relative;
}
.item img {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

li.t2 a .item img {
  margin-top: 3.4rem;
}

li.t1 a {
  background: #22adb9;
  width: 100%;
  height: 0.4rem;
  transition: 0.35s;
}
li.t1 a:hover {
  background: #22adb9;
  height: 100%;
}

li.t2 a {
  background: #1b5bbe;
  width: 100%;
  height: 0.4rem;
  transition: 0.35s;
}
li.t2 a:hover {
  background: #1b5bbe;
  height: 100%;
}

li.t3 a {
  background: #d93f69;
  width: 100%;
  height: 0.4rem;
  transition: 0.35s;
}
li.t3 a:hover {
  background: #d93f69;
  height: 100%;
}

/* --------------------------------------------------- */

.sect3_container {
  width: 1400px;
  margin: auto;
  justify-content: space-between;
}

.sect3_text {
  margin-top: 150px;
  color: #fff;
}
.sect3_text span {
  display: inline-block;
  margin-top: 20px;
  line-height: 2rem;
}

.sect3_tab_list {
  width: 300px;
  color: #fff;
  margin-top: 100px;
  font-weight: bold;
}
.sect3_tab_list ul li {
  border-bottom: 1px solid #fff;
  padding: 20px 0;
}
.sect3_tab_list ul li img {
  margin-right: 10px;
}
.sect3_tab_list p {
  float: right;
}

.sect3_img {
  width: 420px;
  height: 430px;
  display: block;
}

/* .sect3_img::after {
  content: "";
  width: 420px;
  height: 430px;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: block;
  transform: translate(-3%, -100%);
  z-index: -100;
} */

.thum {
  z-index: 10;
  transform: translate(-30%, 60%);
}
.thum::after {
  content: "";
  width: 420px;
  height: 430px;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: block;
  transform: translate(28%, -50%);
  position: absolute;
  z-index: -1;
}

.box {
  color: #fff;
  margin-top: 200px;
  padding: 30px;
  z-index: 2;
}
.box h5 {
  font-size: 25px;
  padding-bottom: 10px;
}
.box p {
  font-size: 18px;
  font-weight: bold;
  line-height: 2rem;
}
/* -----------------------------------------------  */
#sect4 {
  position: relative;
}
.sect4_text h2 {
  position: absolute;
  color: #fff;
  font-size: 55px;
  text-align: center;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -15%);
}
.sect4_text span {
  position: absolute;
  color: #fff;
  font-size: 22px;
  text-align: center;
  line-height: 2.5rem;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -25%);
}
.sect4_tab {
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #f00;
  width: 600px;
}

li.c1 {
  position: absolute;
  left: 0;
}
li.c2 {
  position: absolute;
  left: 200px;
}
li.c1 {
  position: absolute;
  left: 400px;
}

/* .contents_wrap {
  /* transform: translateY(-70%);
} */
.sect_tab_text p:nth-child(1) {
  padding: 30px;
}
.sect_contents {
  bottom: -20px;
  transition: 0.35s;
}
/* .sect4_tab li .sect4_tab_thum{display: none;} */

li.sect_contents:hover {
  bottom: 0;
  background: rgba(25, 160, 181, 0.7);
  border-radius: 10px 10px 0 0;
}
li.sect_contents:hover .sect4_tab_thum {
  display: block;
}
/* li.sect_contents:hover{transform: translateY(0%);} */

.sect4_tab_thum {
  margin-bottom: 1rem;
  display: none;
}

/* -------------------------------------------- */
.sect5_container {
  width: 1400px;
  margin: auto;
  position: relative;
}
#sect5 h2 {
  position: absolute;
  color: #fff;
  font-size: 55px;
  text-align: center;
  left: 50%;
  top: 40%;
  transform: translate(-50%, 40%);
}
.sect5_menu {
  position: absolute;
  margin-top: 13%;
}

.sect5_menu ul li {
  width: calc(1400px / 4);
  height: 2.3rem;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  padding: 1.4rem 0;
}
.sect5_menu ul li:hover {
  background: #d93f69;
  transition: 0.35s;
}

.sect5_contents {
  width: 1400px;
  position: absolute;
  margin-top: 300px;
}

.sect5_contents ul {
  justify-content: space-between;
}

.sect5_list {
  width: 320px;
  background: #fff;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}
.sect5_list:hover {
  box-shadow: 6px 0px 10px rgba(0, 0, 0, 0.3);
}
.sect5_list:hover img {
  transform: scale(110%);
}
.contents_img {
  overflow: hidden;
  height: 240px;
}
.contents_img img {
  width: 320px;
  transition: 0.35s;
}

.contents_text {
  width: 280px;
  height: 100px;
  padding: 20px;
  font-family: "Noto Sans KR", sans-serif;
}
.name {
  justify-content: space-between;
  margin-bottom: 20px;
}
.contents_text .text {
  width: 280px;

  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* -------------------- */

/* 헤더 높이 값을 줬는데 헤더이너에 높이를 주지 않으면 위치가 이상함 */

@media screen and (max-width: 521px) {
  header {
    height: 60px;
  }
  h1 img {
    height: 25px;
  }
  nav ul {
    flex-direction: column;
  }
  nav {
    display: none;
  }
  .header_inner {
    height: 60px;
  }
  body {
    font-size: 14px;
  }
  #sect1 h4 {
    font-size: 1.5rem;
  }
  #sect1 h2 {
    font-size: 2rem;
  }

  #sect2 h2 {
    font-size: 2rem;
  }
  #sect2 span {
    font-size: 1rem;
  }
  .application {
    font-size: 1rem;
  }
  .tab_list li {
    position: relative;
    text-align: left;
  }
  .tab_list li p {
    padding-left: 30px;
  }
  .tab_list {
    height: 68px;
    line-height: 60px;
    bottom: 136px;
  }
  .item img {
    display: none;
  }
  .sect3_text h2 {
    font-size: 2.5rem;
  }
  .sect3_text span {
    font-size: 1rem;
  }
  .sect3_tab_list ul li {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 522px) {
  body {
    font-size: 18px;
  }
  nav > ul > li > a {
    font-size: 1.2rem;
    color: blue;
  }
  header {
    height: 100px;
  }
  h1 img {
    height: 40px;
  }
  nav {
    margin-left: 433px;
  }
  nav > ul {
    flex-direction: row;
    gap: 4rem;
  }
  .header_inner {
    max-width: calc(100% - 6rem);
    height: 100px;
  }
  #sect1 h4 {
    font-size: 2.5rem;
  }
  #sect1 h2 {
    font-size: 4.5rem;
  }
  #sect2 h2 {
    font-size: 3rem;
  }
  #sect2 span {
    font-size: 1.3rem;
  }
  .tab_list {
    display: flex;
    max-width: 900px;
    width: 100%;
    height: 220px;
    gap: 1px;
  }
  .tab_list li {
    position: relative;
    flex: 1;
    text-align: center;
  }
  .sect3_text h2 {
    font-size: 3rem;
  }
  .sect3_text span {
    display: inline-block;
    margin-top: 20px;
    font-size: 1.3rem;
    line-height: 2rem;
  }
  .sect4_tab{
    width: 900px;
    gap: 1;
  }
}
@media screen and (min-width: 1280px) {
  nav {
    display: block;
  }
}

@keyframes vScrollAni {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
