@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@500&display=swap");
@import "/reset.css";
@import url(./header.css);
@import url(./footer.css);
* {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
span {
  font-family: "Noto Serif KR", serif;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
ul,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  display: block;
  color: inherit;
}
.flex {
  display: flex;
}

::-webkit-scrollbar {
  display: none;
}

.logo {
  margin: 40px;
}
header {
  position: fixed;
  border-bottom: 1px solid #fff;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}
nav {
  width: 40%;
  margin-left: 600px;
}
li.main {
  position: relative;
}
ul.menu {
  justify-content: space-between;
}
li.main > a {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
.en {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin-right: 20px;
}
li.main a:hover {
  color: #eb2a4a;
  transition: 0.35s;
}

ul.sub {
  margin-top: 10px;
  font-size: 15px;
  color: #fff;
  display: none;
  position: absolute;
  width: 100%;
  background: #eb2a4a;
  text-align: center;
  line-height: 30px;
  padding: 20px;
  border-radius: 20px;
  opacity: 0;
}
li.main:hover ul.sub {
  display: block;
}

ul.m1 {
  width: 130px;
  transform: translateX(-30px);
  opacity: 1;
}
ul.m2 {
  width: 160px;
  transform: translateX(-60px);
  opacity: 1;
}
ul.m3{
  width: 120px;
  transform: translateX(-50px);
  opacity: 1;
}
ul.m4{
  width: 100px;
  transform: translateX(-25px);
  opacity: 1;
}
ul.m5{
  width: 150px;
  transform: translateX(-5px);
  opacity: 1;
}
section {
  height: 100vh;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#sect1 {
  background: url(../image/메인/v_img01_sdown.jpg) no-repeat center / cover;
}
/*-------------------sect2  */
#sect2 {
  background-image: url(../image/메인/section01.jpg);
}
/* ----------sect3 */
#sect3 {
  background-image: url(../image/메인/section02.jpg);
}
/* ----------sect4 */
#sect4 {
  background-image: url(../image/메인/section03.jpg);
}
/* -------------sect5 */
#sect5 {
  background: url(../image/메인/section04.jpg) no-repeat 50% top / cover;
}

#sect1 h2 {
  color: #fff;
  text-align: center;
  font-size: 70px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#sect1 h4 {
  color: #fff;
  text-align: center;
  font-size: 50px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
}
.scrollbtn {
  position: absolute;
  left: 50%;
  bottom: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  z-index: 10;
}
.scrollbtn img {
  width: 30px;
  margin-top: 1rem;
}
.scrollbtn span {
  font-size: 18px;
}

/* ------------------ */

#sect2 h2 {
  color: #fff;
  text-align: center;
  font-size: 55px;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -30%);
}
#sect2 span {
  color: #fff;
  text-align: center;
  font-size: 25px;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -45%);
}
.application {
  position: absolute;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  background: rgba(0, 0, 0, 0.3);
  display: inline-block;
  padding: 20px 50px;
  border-radius: 50px;

  left: 50%;
  top: 55%;
  transform: translate(-50%, -55%);
}

.tab_list {
  height: 220px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  gap: 1px;
}
ul.tab_list li {
  width: 300px;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
.item img {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

li.t2 a .item img {
  margin-top: 3.4rem;
}

li.t1 a {
  background: #22adb9;
  position: absolute;
  width: 300px;
  height: 0.4rem;
  transition: 0.35s;
}
li.t1 a:hover {
  background: #22adb9;
  height: 100%;
}

li.t2 a {
  background: #1b5bbe;
  position: absolute;
  width: 300px;
  height: 0.4rem;
  transition: 0.35s;
}
li.t2 a:hover {
  background: #1b5bbe;
  height: 100%;
}

li.t3 a {
  background: #d93f69;
  position: absolute;
  width: 300px;
  height: 0.4rem;
  transition: 0.35s;
}
li.t3 a:hover {
  background: #d93f69;
  height: 100%;
}

/* --------------------------------------------------- */

.sect3_container {
  width: 1400px;
  margin: auto;
  justify-content: space-between;
}

.sect3_text {
  margin-top: 150px;
}
.sect3_text h2 {
  color: #fff;
  font-size: 55px;
}
.sect3_text span {
  display: inline-block;
  margin-top: 20px;
  color: #fff;
  font-size: 20px;
  line-height: 2rem;
}

.sect3_tab_list {
  width: 300px;
  color: #fff;
  margin-top: 100px;
  font-size: 20px;
  font-weight: bold;
}
.sect3_tab_list ul li {
  border-bottom: 1px solid #fff;
  padding: 20px 0;
}
.sect3_tab_list ul li img {
  margin-right: 10px;
}
.sect3_tab_list p {
  display: inline-block;
}

.sect3_img {
  width: 420px;
  height: 430px;
  display: block;
}
/* .sect3_img::after {
  content: "";
  width: 420px;
  height: 430px;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: block;
  transform: translate(-3%, -100%);
  z-index: -100;
} */

.thum {
  z-index: 10;
  transform: translate(-30%, 60%);
}
.thum::after {
  content: "";
  width: 420px;
  height: 430px;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: block;
  transform: translate(28%, -50%);
  position: absolute;
  z-index: -1;
}


.box {
  color: #fff;
  margin-top: 200px;
  padding: 30px;
  z-index: 2;
}
.box h5 {
  font-size: 25px;
  padding-bottom: 10px;
}
.box p {
  font-size: 18px;
  font-weight: bold;
  line-height: 2rem;
}
/* .box::after {
  content: "";
  width: 420px;
  height: 430px;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: block;
  transform: translate(0%,0%);
  position: absolute;
  z-index: -1;
} */


/* -----------------------------------------------  */
.sect4_text h2 {
    position: absolute;
    color: #fff;
    font-size: 55px;
    text-align: center;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -15%);
  }
  .sect4_text span {
    position: absolute;
    color: #fff;
    font-size: 22px;
    text-align: center;
    line-height: 2.5rem;
    left: 50%;
    top: 25%;
    transform: translate(-50%, -25%);
  }
  .sect4_tab {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    overflow: hidden;
  }
  .sect_contents {
    width: 350px;
    height: 15px;
  
    padding: 50px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    translate: 0.35s;
  }
  .contents_wrap{
    transform: translateY(-70%);
  }
  .sect_tab_text p:nth-child(1){padding: 30px;}
  .sect_contents:hover{
    height: 250px;
    background: rgba(25, 160, 181, 0.7);
    border-radius: 10px 10px 0 0;
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  .sect_contents:hover .contents_wrap{transform: translateY(0%);}
  .sect4_tab_thum {
    margin-bottom: 1rem;
  }
/* -------------------------------------------- */
.sect5_container {
  width: 1400px;
  margin: auto;
  position: relative;
}
#sect5 h2 {
  position: absolute;
  color: #fff;
  font-size: 55px;
  text-align: center;
  left: 50%;
  top: 40%;
  transform: translate(-50%, 40%);
}
.sect5_menu {
  position: absolute;
  margin-top: 13%;
}

.sect5_menu ul li {
  width: calc(1400px / 4);
  height: 2.3rem;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: center;
  padding: 1.4rem 0;
}
.sect5_menu ul li:hover {
  background: #d93f69;
}

.sect5_contents {
  width: 1400px;
  position: absolute;
  margin-top: 300px;
}

.sect5_contents ul{justify-content: space-between;}

.sect5_list {
  width: 320px;
  background: #fff;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}
.sect5_list:hover{
  box-shadow: 6px 0px 10px rgba(0, 0, 0, 0.3);
}
.sect5_list:hover img {
  width: 350px;
}
.contents_img{
  overflow: hidden;
  height: 240px;
}
.contents_img img {
  width: 320px;
  transition: 0.35s;
}

.contents_text {
  width: 280px;
  height: 100px;
  padding: 20px;
}
.name{
  justify-content: space-between;
  margin-bottom: 20px;
}
.contents_text .text{
  width: 280px;

  text-overflow: ellipsis;
   overflow: hidden;
   word-break: break-word;
   display: -webkit-box;
   -webkit-line-clamp: 2;
   -webkit-box-orient: vertical
}