@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * {
  font-family: "Noto Sans KR", sans-serif;
}
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
body {
  margin: 0;
  font-family: "Noto Sans KR", sans-serif;
}
ul,
ol {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}
/* ----------------------------------  */
header {
  height: 90px;
  position: fixed;
  top: 0;
  border-bottom: 1px solid rgb(230, 230, 230);
  width: 100%;
  z-index: 10;
  justify-content: space-between;
}

.logo {
  margin: 40px;
}
header:hover {
  background: #fff;
  cursor: pointer;
}

header:hover li.main > a {
  color: #444;
}
header:hover .gnb li a {
  color: #444;
}

.header_inner {
  width: 100%;
  height: inherit;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  width: 946px;
  margin-left: 400px;
  display: none;
}
li.main {
  position: relative;
}

ul.menu {
  display: flex;
  justify-content: space-between;
}
nav li.main > a {
  color: #444;
  display: block;
  padding: 10px 0;
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
}
ul.gnb {
  display: flex;
  width: 70px;
  margin-right: 20px;
  gap: 1rem;
  margin-left: 2rem;

  color: #444;
  font-size: 20px;
  font-weight: bold;
}
nav li.main:hover > a {
  color: #eb2a4a;
  transition: 0.35s;
}

ul.sub {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  display: none;
  position: absolute;
  width: 100%;
  background: #eb2a4a;
  text-align: center;
  line-height: 35px;
  padding: 1rem;
  border-radius: 10px;
}


li.main ul.m1 {
  width: 160px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}
ul.m2 {
  width: 180px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}
ul.m3 {
  width: 150px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}
ul.m4 {
  width: 140px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}
ul.m5 {
  width: 180px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}

/* ----------------------------------------- */

body {
  background: url(../image/청와대본관/fac_botBg.png) no-repeat bottom / contain;
}

main {
  background-image: url(../image/청와대본관/fac_t1_lt.png),
    url(../image/청와대본관/fac_t1_rt.png);
  background-position: left top, right top;
  background-repeat: no-repeat, no-repeat, no-repeat;
  width: 100%;
}
.main-text {
  text-align: center;
  width: 1400px;
  margin: auto;
}

h1 {
  font-weight: 800;
  font-size: 50px;
  width: 100%;
  display: inline-block;
  margin-top: 150px;
}
.main-image {
  display: inline-block;
}
.leftarrow {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(136, 136, 136);
  color: white;
  line-height: 50px;
  font-size: 25px;
  margin-top: 100px;

  left: 15%;
  transition: 0.35s;
}
.leftarrow:hover {
  background-color: rgb(255, 78, 78);
  color: white;
}
.rightarrow {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgb(136, 136, 136);
  color: white;
  line-height: 50px;
  font-size: 25px;
  margin-top: 100px;

  right: 15%;
  transition: 0.35s;
}
.rightarrow:hover {
  background-color: rgb(255, 78, 78);
  color: white;
}
.main-box {
  position: relative;
  margin: 1.5rem auto 7.2rem;
  padding: 1.5rem 1rem;
  font-size: 20px;
  line-height: 35px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19)
}
.btn {
  margin: 50px auto;
  width: 250px;
  height: 80px;
  border-radius: 50px;
  border: 1px solid transparent;
  background-color: #2d353c;
  color: white;
  transition: 0.35s;
}
.btn:hover {
  margin: 50px auto;
  width: 250px;
  height: 80px;
  border-radius: 50px;
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.back-button {
  margin: auto;
  width: 180px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}
.sub-img {
  display: flex;
  justify-content: space-between;
}

footer {
  background-color: #2a2d34;
  width: 100%;
  height: 100px;
}
.footer-all {
  margin: 0 auto;
  width: 1400px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  text-align: right;
  color: rgba(255, 255, 255, 0.5);
  font-size: 15px;
}
.footer-text {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.policy {
  color: rgba(255, 255, 255, 0.5);
}

@media screen and (min-width: 1280px) {
  nav {
    display: block;
  }
}
